<% provide(:title, 'sign up') %>
<div id="contentwrapper">
	<h1>sign up</h1>
	<p class="gentext" style="font-size: 10px; margin-bottom: 15px;">
        Already have an account? <%= link_to "Sign in!", "#" %>
    </p>
	<p class="gentext">Sign up below. It's free!</p>
	<p class="gentext">All fields are required.</p>
	<p class="gentext">&nbsp;</p>
    
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, placeholder: "name" %>

      <%= f.text_field :email, placeholder: "email@provider.com" %>

      <%= f.password_field :password, placeholder: "password" %>

      <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
      
      <div id="buttoncontainer" style="display: inline-block;">
          <%= f.submit "create", class: "button" %>
      </div>
    <% end %>
    
</div>
